.counter ul {
  list-style-type: none;
  margin: 4px;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
  border-radius: 10px;
}
.left .counter li {
  float: left;
}
.right .counter li {
  float: right;
}
.counter li {
  padding: 5px;
}
.name {
  font-size: 6vw !important;
  font-weight: bolder !important;
}
.value {
  font-size: 6vw !important;
  font-weight: bolder !important;
}
.plus .btn,
.minus .btn {
  outline: none;
  border: 0px;
  box-sizing: none;
  background-color: transparent;
}
.plus .btn {
  color: green;
  font-size: 6vw;
  font-weight: bolder;
}
.minus .btn {
  color: red;
  font-size: 6vw;
  font-weight: bolder;
}
.player {
  margin: auto;
  margin-bottom: 1vh;
  padding-right: 5vw;
  padding-left: 5vw;
  width: 100%;
}

.left {
  float: left;
  text-align: left;
}

.right {
  text-align: right;
  float: right;
}

.gameTurn {
  text-align: center;
}
.Phase {
  font-size: 10vw;
  text-align: center;
}
.gameTurn .btn {
  color: black;
  border-radius: 18px;
  margin: 6px;
  font-size: 3vw;
  background-color: red;
}
.gameTurn .btn:active {
  color: black;
  border-radius: 18px;
  margin: 5px;
  font-size: 3vw;
  background-color: rgb(100, 17, 17) !important;
}
.gameTurn .btn:disabled {
  color: black;
  border-radius: 18px;
  margin: 6px;
  font-size: 3vw;
  opacity: 0.8;
  background-color: rgb(92, 23, 23) !important;
}
