.counter ul {
  list-style-type: none;
  margin: 4px;
  padding: 0;
  overflow: hidden;
  background-color: var(--tertiary);
  opacity: 0.9;
  border-radius: 10px;
  justify-content: space-between;
}
.view {
  height: 100vh;
  color: var(--contrast);
  background-color: var(--primary);
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-size: contain;
}

.left .counter li {
  float: left;
}
#round {
  border-radius: 50%;
  border-color: var(--contrast);
}
.react-card-flip {
  padding-top: 5px;
}
.Dummy {
  min-width: 100%;
  min-height: 60vh;
  padding: 10px;
}
.NoteDummy {
  margin-top: 5%;
  padding-right: 25%;
}
.ExitDummy {
  margin-top: 1%;
  margin-right: 5%;
  position: absolute;
  left: 85%;
}
.names {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0;
  display: inline-block;
}
.right .counter li {
  float: right;
}
.counter li {
  padding: 5px;
}
.name {
  font-size: calc(12px + 3vw) !important;
  font-weight: bolder !important;
}
.value {
  font-size: calc(12px + 3vw) !important;
  font-weight: bolder !important;
}
.plus .btn,
.minus .btn {
  outline: none;
  border: 0px;
  box-sizing: none;
  font-size: calc(12px + 3vw);
  background-color: transparent;
}
.plus .btn {
  color: var(--plus);
  font-weight: bolder;
}
.minus .btn {
  color: var(--minus);
  font-weight: bolder;
}
.player {
  margin: auto;
  margin-bottom: 1vh;
  padding-right: 5vw;
  padding-left: 5vw;
  width: 100%;
}
.left {
  float: left;
  text-align: left;
}
.right {
  text-align: right;
  float: right;
}
.gameTurn {
  text-align: center;
}
.Phase {
  font-size: calc(18px + 2vw);
  text-align: center;
}
.gameTurn .btn {
  color: var(--tertiary);
  border-radius: 18px;
  margin: 5px;
  font-size: calc(12px + 2vw);
  background-color: var(--secondary);
}
.gameTurn .btn:active {
  color: black;
  border-radius: 18px;
  margin: 5px;
  font-size: calc(12px + 2vw);
  background-color: var(--powerless) !important;
}
.gameTurn .btn:disabled {
  color: black;
  border-radius: 18px;
  margin: 5px;
  font-size: calc(12px + 2vw);
  opacity: 0.8;
  background-color: var(--powerless) !important;
}
