body {
  height: 100%;
  width: 100%;
  --primary: #fff;
  --secondary: #343a40;
  --tertiary: whitesmoke;
  --contrast: black;
  --powerless: rgb(66, 55, 55);
  --minus: red;
  --plus: green;
  --image: "";
}

.menu ul {
  text-decoration: none;
  list-style: none;
  margin-top: 10px;
  padding-left: 5px;
  margin-right: 10px;
  color: var(--contrast);
}
.menu li {
  color: var(--contrast) !important;
  background-color: var(--secondary);
  margin: 0px 1px 10px 0px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}
.menu li a {
  color: var(--tertiary) !important;
}
.buttonrow ul {
  text-decoration: none;
  list-style: none;
  color: var(--contrast);
  overflow: hidden;
}
.buttonrow li {
  color: var(--contrast) !important;
  background-color: var(--secondary);
  margin: 0px 1px 10px 0px;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  float: left;
}
.buttonrow li a {
  display: block;
  color: var(--tertiary) !important;
}
.menu {
  padding-top: 5px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.footer {
  color: var(--primary);
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
.carouselx {
  margin: auto;
  justify-content: center;
  align-self: center;
}
.carousel {
  /* make sure your .items will get correct height */
  width: 100% !important;
  height: 100% !important;
}
.carousel-inner {
}
.carousel-item {
}
.carousel-item img {
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  filter: blur(1px);
  max-height: 60% !important; /* change this to whatever you want */
  object-fit: cover !important;
  width: 100%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  width: 100%;
  overflow: hidden;
  margin: 0 !important;
}
.mainDiv {
  margin: 2vh 2vw 2vh 2vw;
}
.login {
  padding-top: 1vh;
  width: 100%;
  margin: auto;
}

[class*="col-"] {
  padding: 15px;
  display: grid;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 640px) {
  div.menu {
    display: none;
  }
  .row {
    display: inline-block !important;
  }
  .carousel-item img {
    height: 400px;
  }
}
.header a {
  text-decoration: none;
  color: whitesmoke !important;
}

.header li:hover {
  background-color: black;
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
  div.buttonrow {
    display: none !important;
  }
  .carousel-item img {
    height: 50vh;
  }
  .colu-s-0 {
    width: 0%;
  }
  .colu-s-1 {
    width: 8.33%;
  }
  .colu-s-2 {
    width: 16.66%;
  }
  .colu-s-3 {
    width: 25%;
  }
  .colu-s-4 {
    width: 33.33%;
  }
  .colu-s-5 {
    width: 41.66%;
  }
  .colu-s-6 {
    width: 50%;
  }
  .colu-s-7 {
    width: 58.33%;
  }
  .colu-s-8 {
    width: 66.66%;
  }
  .colu-s-9 {
    width: 75%;
  }
  .colu-s-10 {
    width: 83.33%;
  }
  .colu-s-11 {
    width: 91.66%;
  }
  .colu-s-12 {
    width: 100%;
    align-self: center;
  }
}
@media only screen and (min-width: 769px) {
  div.buttonrow {
    display: none !important;
  }
  .colu-1 {
    width: 8.33%;
  }
  .colu-2 {
    width: 16.66%;
  }
  .colu-3 {
    width: 25%;
  }
  .colu-4 {
    width: 33.33%;
  }
  .colu-5 {
    width: 41.66%;
  }
  .colu-6 {
    width: 50%;
  }
  .colu-7 {
    width: 58.33%;
  }
  .colu-8 {
    width: 66.66%;
  }
  .colu-9 {
    width: 75%;
  }
  .colu-10 {
    width: 83.33%;
  }
  .colu-11 {
    width: 91.66%;
  }
  .colu-12 {
    width: 100%;

    align-self: center;
  }
}
