.Table {
  min-height: 75vh;
}

.backToGame {
  background-color: var(--secondary);
  color: var(--primary);
  border-width: 4px;
  border-color: var(--contrast);
  padding: 4px;
  border-radius: 5px;
  margin: 2px;
  text-decoration: none;
}

.Expand a:hover {
  text-decoration: none;
  font-weight: 500;
  color: var(--contrast);

  margin-bottom: 10px;
}
